/**
    Style CSS très rapide pour vous donner les fonts, les images et un début de page. 
    NOTE: Le CSS n'est pas très bien fait.
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Radiance";
  src: url("../fonts/radiance.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("../fonts/radiance-semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Reaver";
  src: url("../fonts/Reaver-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Reaver";
  src: url("../fonts/Reaver-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Reaver";
  src: url("../fonts/Reaver-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: Radiance, "Noto Sans", sans-serif;
  background-color: #1d1e22;
  color: #fff;
  font-size: 1.375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Reaver, serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 3px;
}
i:hover{
  cursor: pointer;
}
a {
  color: inherit;
}

.hero-type {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  letter-spacing: 2px;
  gap: 0.5rem;
  text-transform: uppercase;
}
.heroes-images img {
  width: 100%;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
}

.subheading {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a5e0f3;
}

.secondary {
  color: #959595;
}

.hero-render {
  width: 100%;
  min-height: 100%;
  max-width: 1500px;
  position: relative;
  z-index: 10;
}

.hero-background {
  width: 100%;
  min-height: 100vh;
  background-position-x: -20vw;
  background-color: #000;
  background-image: url(/public/images/background.jpg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.hero-background-gradient {
  width: 150%;
  height: 650px;
  background-color: #00000060;
  position: absolute;
  transform: skewY(-45deg) translateX(-50vw);
  overflow: hidden;
  z-index: -1;
}

.hero-stats {
  background: linear-gradient(80deg, #252728 0%, #101415 100%);
  margin-top: 5rem;
  min-height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
:root {
  --secondary-text: #808fa6;
}

.flex-grow-1 {
  color: var(--secondary-text);
}

.heroes-filter {
  font-family: "Radiance" !important;
  max-height: 2rem;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)
  ) !important;
  box-shadow: 0px 0px 30px #00000050;
  padding: 37px !important;
}
.heroes-filter h6{
  margin: 0;
}
input[type="checkbox"]{
  display: none;
}
label:hover{
  cursor: pointer;
}

.attributes,  .complexity {
  filter: brightness(50%) contrast(75%) grayscale(100%);
  transition: filter 0.3s ease;
}


.attributes , .complexity {
  max-width: 40px;
  max-height: 40px;
}

.image-overlay {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.2s ease-in-out;
  position: relative;
  display: inline-block;
}
.image-overlay:hover .overlay {
  opacity: 1;
}

.image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-overlay:hover {
  transform: scale(1.4);
  z-index: 1; 
}
.image-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  font-family: Reaver, serif;
  text-transform: uppercase;
  font-size: 1.25rem;  
  line-height: 20px;
  padding-top: 40%;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}
.overlay-elements img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}


.stat {
  font-size: 1.625rem;
  font-weight: bold;
}

.stat-increase {
  color: #999;
  font-size: 1rem;
  font-weight: bold;
}

.role {
  font-size: 1.125rem;
  font-weight: bold;
}

.role-bar-wrapper {
  width: 100%;
  height: 8px;
  background-color: #4c4c4c;
}

.role-bar {
  width: 100%;
  height: 8px;
  background-color: #4c4c4c;
}

.role-bar.has-role {
  background-color: #fff;
  box-shadow: 0px 0px 10px #427ed1, 0px 0px 10px #427ed1;
}
html {
  overflow: scroll;
}
